<!doctype html>
<html>
    <head>
        
    </head>
    <body>
        <form action="/subscribe" method="POST">
            <input type="email" placeholder="youremail@yourdomain.com">
            <input type="submit">
        </form>
    </body>
</html>